---
import SiteHead from '../components/SiteHead.astro';
import SiteNav from '../components/SiteNav.astro';
import SiteFooter from '../components/SiteFooter.astro';

let title = "About | thingsillforget.xyz"
let description = "About the author of thingsillforget.xyz"
---
<html>
  <SiteHead title={ title } description={ description } />
  <body>
    <SiteNav />
    <main>
      <h1>About Me page</h1>
    </main>
    <SiteFooter />
  </body>
</html>