---
import SiteHead from '../components/SiteHead.astro';
import SiteNav from '../components/SiteNav.astro';
import SiteFooter from '../components/SiteFooter.astro';

let title = "Links | thingsillforget.xyz"
let description = "Useful links that I've discovered and stuff"
---
<html>
  <SiteHead title={ title } description={ description } />
  <body>
    <SiteNav />    
    <main>
      <h1>Links page</h1>
    </main>
    <SiteFooter />
  </body>
</html>