---
import SiteHead from '../components/SiteHead.astro';
import SiteNav from '../components/SiteNav.astro';
import SiteFooter from '../components/SiteFooter.astro';

const { content } = Astro.props;
---

<html lang="en">
<SiteHead title={ content.title + " | thingsillforget.xyz" } description={ content.description } />
<body>
  <SiteNav />
  <main>
    <section class="blog-post">
      <h2>{ content.title }</h2>
      <p class="subtitle">{ content.subtitle }</p>
      <hr>
      <article>
        <slot />
      </article>
      <hr>
      <footer>
        <a href="/posts">Back to posts</a>
      </footer>
    </section>
  </main>
  <SiteFooter />
</body>
</html>

<style>
  .blog-post {
    width: 85ch;
  }
  h2 {
    font-size: 28px;
  }
  article {    
    line-height: 1.75;
    padding: 0 .5em;    
  }
  .subtitle {
    font-size: 20px;
    line-height: 1.5;
    font-style: italic;
  }  
  hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
</style>